<h3>Veterinarioss:</h3>
<table class="table">
  <thead>
    <tr scope="row">
      <th scope="col">Nombre</th>
      <th scope="col">Especialidades</th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row" *ngFor="let veterinario of veterinarios">
      <td scope="col"><a routerLink="/vets/veterinario.id" routerLinkActive="router-link-active">
        {{ veterinario.firstName }} {{ veterinario.lastName }}</a>
      </td>
      <td scope="col">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let especialidades of veterinario.specialties">
            {{ especialidades.name }}
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
<div class="content-fluid">
  <button class="btn btn-dark mr-5" routerLink="/vets/veterinario.id" routerLinkActive="router-link-active">Añadir</button>
  <button class="btn btn-dark mr-5" (click)="borrarVet()">Eliminar</button>
  <button class="btn btn-dark mr-5">Añadir especialidad</button>
</div>
