input,
input:read-only {
    background: transparent;
    color: #03e9f4
}

h3,
label {
    color: #03e9f4
}

input:focus {
    background: transparent;
    color: #03e9f4
}

select,
option {
    background: transparent;
    color: #03e9f4
}

select:focus,
option:focus {
    background: transparent;
    outline: none;
    color: #03e9f4
}

#mapa {
    width: 700px;
    height: 700px;
    position: fixed;
    top: 10%;
    left: 10%;
    cursor: crosshair !important;
}

.ocultarMapa {
    display: none;
}

.verMapa {
    display: block;
}