<div class="container mt-3" *ngIf="mostrar">
    <h4 class="bg-dark text-light text-center p-2">Fenomenos Paranormales Registrados</h4>
    <table class="table table-hover">
        <thead>
            <tr scope="row">
                <th scope="col">Descripción</th>
                <th scope="col">Fecha</th>
                <th scope="col">Lugar</th>
                <th scope="col">Estado de investigación</th>
                <th scope="col" *ngIf="mostrarOpciones">Acciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let fenomenoParanormal of fenPar">
            <tr scope="row">
                <td scope="col">{{ fenomenoParanormal.descripcion }}</td>
                <td scope="col">{{ fenomenoParanormal.fechaOcurrencia | date:"dd-MM-yyyy" }}</td>
                <td scope="col">{{ fenomenoParanormal.lugarOcurrencia }}</td>
                <td scope="col">{{ fenomenoParanormal.nombreEstado }}</td>
                <td scope="col" *ngIf="mostrarOpciones"><button class="btn btn-info mr-2" routerLink="/archivar-fenomenoParanormal/{{ fenomenoParanormal.id }}">Archivar</button>
                                <button class="btn btn-info" routerLink="/modificar-fenomenoParanormal/{{ fenomenoParanormal.id }}/{{ idInvestigador }}">Actualizar</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mt-3" *ngIf="!mostrar">
    <p class="bg-dark text-light text-center">Aún no ha agregado ningún fenómeno paranormal. Anímese a compartir sus investigaciones con la comunidad!</p>
</div>
<div class="container mt-3" *ngIf="mostrarOpciones">
    <button class="mt-2 btn btn-info" routerLink="/anadir-fenomenoParanormal/{{ idInvestigador }}">Añadir nuevo fenómeno</button>
</div>