<div class="container">
    <table class="table-bordered">
        <legend class="bg-dark text-light text-center">Investigador/a: {{ investigador.nombre }} {{ investigador.apellidos }}</legend>
        <div class="row ml-5">
            <div class="col-4">
                <img *ngIf="investigador.imagen" src="data:image/jpg;base64,{{ investigador.imagen }}" />
            </div>
        </div>
        <div class="row ml-5">
            <div class="col-6">
                <h5>DNI: </h5>
                <p>{{ investigador.dni }} </p>
            </div>
            <div class="col-6">
                <h5>Teléfono: </h5>
                <p>{{ investigador.telefono }} </p>
            </div>
        </div>
        <div class="row ml-5">
            <div class="col-6">
                <h5>Email: </h5>
                <p>{{ investigador.email }} </p>
            </div>
            <div class="col-6">
                <h5>Residencia: </h5>
                <p>{{ investigador.residencia }} </p>
            </div>
        </div>
    </table>
    <button class="mr-3 btn btn-dark" routerLink="/investigadores" [disabled]="mostrar">Volver</button>
    <button class="mr-3 btn btn-dark" routerLink="/modificar-investigador/{{ investigador.id }}" [disabled]="mostrar" *ngIf="mostrarOpciones">Modificar Datos Personales</button>
    <button class="btn btn-dark" (click)="mostrarDiv(investigador)" [disabled]="mostrar" *ngIf="mostrarOpciones">Borrar</button>
</div>
<div *ngIf="investigador.id != undefined">
    <app-listado-investigador-fen-par [idInvestigador]="investigador.id" [mostrarOpciones]="mostrarOpciones"></app-listado-investigador-fen-par>
</div>
<div class="principal" *ngIf="mostrar">
    <app-borrar-investigador [investigador]="investigador" (noMostrar)="cancelarDiv($event)"></app-borrar-investigador>
</div>