* {
    color: white;
}

input {
    background: transparent;
    color: #03e9f4
}

input:focus {
    background: transparent;
    color: #03e9f4
}

@media only screen and (min-width: 768px) {
    .borde {
        border-left: 2px #03e9f4 solid;
    }
}

@media only screen and (max-width: 767px) {
    .borde {
        border-top: 2px #03e9f4 solid;
        margin-top: 10px;
    }
}