<div class="body">
    <div class="login-box" *ngIf="!verRecuperacion && !verReenvio">
        <h2>Identificación</h2>
        <p *ngIf="loginIncorrecto" class="text-danger">Usuario y/clave INCORRECTOS, por favor proceda de nuevo</p>
        <form class="form-horizontal" #loginForm="ngForm">
            <div class="user-box">
                <input type="text" required [(ngModel)]="login.email" name="email" #email="ngModel">
                <label>Email: </label>
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                    El correo es obligatorio
                </div>
            </div>
            <div class="user-box">
                <input type="password" required [(ngModel)]="login.clave" name="clave" #clave="ngModel">
                <label>Clave: </label>
                <div [hidden]="clave.valid || clave.pristine" class="alert alert-danger">
                    La clave es obligatoria
                </div>
            </div>
            <div>
                <button class="btn" [disabled]="!loginForm.valid" type="button" (click)="validar(loginForm.value)">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>Entrar</button>
                <a routerLink="/registro">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>Regístrate</a>
            </div>
        </form>
        <br/>
        <br/>
        <button class="btn btn-link" (click)="mostrarFormularioContrasena()">Recuperar Contraseña</button>
        <button class="btn btn-link" (click)="mostrarFormularioCorreo()">Reenviar Correo Confirmación</button>
    </div>
    <div class="login-box" *ngIf="verRecuperacion">
        <form class="form-horizontal" #recuperarContrasenaForm="ngForm">
            <div class="user-box">
                <input type="email" required [(ngModel)]="login.email" name="email" #email="ngModel" />
                <label>Introduce tu email:</label>
            </div>
            <br/>
            <br/>
            <button class="btn btn-link" [disabled]="!recuperarContrasenaForm.valid" (click)="recuperarContrasena()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>Recuperar Contraseña</button>
            <button class="btn" type="button" (click)="mostrarFormularioContrasena()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>Cancelar</button>
        </form>
    </div>
    <div class="login-box" *ngIf="verReenvio">
        <form class="form-horizontal" #reenviarCorreoConfirmacionForm="ngForm">
            <div class="user-box">
                <input type="email" required [(ngModel)]="login.email" name="email" #email="ngModel" />
                <label>Introduce tu email:</label>
            </div>
            <br/>
            <br/>
            <button class="btn btn-link" [disabled]="!reenviarCorreoConfirmacionForm.valid" (click)="reenviarCorreoConfirmacion()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>Reenviar Correo Confirmación</button>
            <button class="btn" type="button" (click)="mostrarFormularioCorreo()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>Cancelar</button>
        </form>
    </div>
</div>