<table class="table">
    <thead>
        <tr scope="row">
            <th scope="col" class="text-center">Fecha Visita</th>
            <th scope="col" class="text-center">Descripción</th>
            <th scope="col" class="text-center">Acción</th>
        </tr>
    </thead>
    <tbody *ngIf="visitas.length!=0">
        <tr scope="row" *ngFor="let visita of visitas">
            <td scope="col" class="text-center">
                <ul class="list-group">
                    <li class="list-group-item">{{visita.visitDate}}</li>
                </ul>
            </td>
            <td scope="col" class="text-center">
                <ul class="list-group">
                    <li class="list-group-item">{{visita.description}}</li>
                </ul>
            </td>
            <td>
                <div class="btn-group-sm text-center">
                    <button class="btn btn-success active mr-2" routerLink="/visits-add/{{visita.id}}/{{idMascota}}">Modificar Visita</button>
                    <button class="btn btn-success active" (click)="borrarVisita(visita.id)">Borrar Visita</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>